@using MyFirstAzureWebApp.Controllers
@{
    ViewData["Title"] = @language.GetKey("home");
}
@inject LanguageService language
<div class="preloader">
    <div class="preloader__row">
        <div class="preloader__item"></div>
        <div class="preloader__item"></div>
    </div>
</div>
<div class="text-center">
    <h1 class="display-4">@language.GetKey("welcome")</h1>
    <p>@language.GetKey("learn")@language.GetKey("building")</p>
</div>
